<!DOCTYPE lang="en">

<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/weather.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
    <title>{{ title }}</title>
</head>

<body>
    <div class="main-content">
        {{>navbar}}
        <div class="notes-navbar">
            <a href="/notes?all=all">All</a>
            <a href="/notes/query">Query</a>
            <a href="/notes/add">Add</a>
            <a href="/notes/delete">Delete</a>
        </div>
        <p>Provide a title and description of the note you would like to add. NB: all inputs are mandatory!</p>
        <form action="#" class="add-note-form">
            <input class="add-title" type="text" placeholder="Note title">
            <input class="add-body" type="text" placeholder="Note description">
            <button>Add</button>
        </form>
        <p id="message-1"></p>
    </div>
    {{>footer}}

    <script src="/javaScript/js.js"></script>
</body>

</html>